* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

   
    background-image: url('images/bgImage1.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% ; 
    background-color: lightblue;
}

form {
    width: 380px;
    background: transparent; /* completely transparent */
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: none; /* Remove shadow */
    border: none;      /* remove border */
}

.title {
    text-align: center;
    margin-bottom: 20px;
    color: black;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 11px 12px;
    margin-top: 10px;
    border: 1px solid rgba(0,0,0,0.3); /* Semi-transparent border, allowing the background to be visible while still distinguishing the input box */
    border-radius: 6px;
    font-size: 14px;
    transition: border-color 0.2s, box-shadow 0.2s;
    background: rgba(255, 255, 255, 0.3); /* Semi-transparent input box background, text is readable */
    color:  black;
    text-align: center;
}

input::placeholder {
    color: black;
    text-align: center;
    opacity: 1;
}



input:focus {
    outline: none;
    border-color: #0b284a;
    box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.2);
}

.password-wrapper {
    position: relative;
}

.password-wrapper input {
    width: 100%;
    padding-right: 40px; /* Give eyes space */
}

.toggle-password {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    user-select: none;
}


button {
    width: 100%;
    margin-top: 18px;
    padding: 12px;
    background: rgba(53, 122, 189, 0.8); /* Semi-transparent button */
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s;
}

button:hover {
    background: rgba(38, 0, 255, 0.8);
}


.error {
    background: rgba(248, 215, 218, 0.5);
    color: #721c24;
    border: 1px solid rgba(245, 198, 203, 0.5);
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 15px;
}

.success {
    background: rgba(212, 237, 218, 0.5);
    color: black;
    border: 1px solid rgba(195, 230, 203, 0.5);
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
}

ul {
    padding-left: 18px;
    margin: 0;
}

@media (max-width: 420px) {
    form {
        width: 90%;
        padding: 20px;
    }
} 